[submodule "cookbooks/rvm"]
	path = cookbooks/rvm
	url = https://github.com/bramswenson/cookbook-rvm.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = https://github.com/jtimberman/runit.git
