[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = https://github.com/jtimberman/runit.git
[submodule "cookbooks/backup"]
	path = cookbooks/backup
	url = https://github.com/pyrat/chef-backup.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = git://github.com/fnichol/chef-ruby_build.git
[submodule "cookbooks/postfix"]
	path = cookbooks/postfix
	url = https://github.com/opscode-cookbooks/postfix.git
[submodule "cookbooks/ntp"]
	path = cookbooks/ntp
	url = https://github.com/opscode-cookbooks/ntp.git
[submodule "cookbooks/modules"]
	path = cookbooks/modules
	url = https://github.com/Youscribe/modules-cookbook.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "cookbook/build-essential"]
	path = cookbook/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = https://github.com/hw-cookbooks/postgresql.git
