[submodule "cookbooks/rvm"]
	path = cookbooks/rvm
	url = https://github.com/bramswenson/cookbook-rvm.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = https://github.com/jtimberman/runit.git
[submodule "cookbooks/dnsimple"]
	path = cookbooks/dnsimple
	url = https://github.com/heavywater/chef-dnsimple.git
[submodule "cookbooks/backup"]
	path = cookbooks/backup
	url = https://github.com/pyrat/chef-backup.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = git://github.com/fnichol/chef-ruby_build.git
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = https://github.com/fnichol/chef-rbenv.git
[submodule "cookbooks/application"]
	path = cookbooks/application
	url = https://github.com/opscode-cookbooks/application.git
[submodule "cookbooks/application_ruby"]
	path = cookbooks/application_ruby
	url = https://github.com/opscode-cookbooks/application_ruby.git
[submodule "cookbooks/application_nginx"]
	path = cookbooks/application_nginx
	url = https://github.com/opscode-cookbooks/application_nginx.git
[submodule "cookbooks/unicorn"]
	path = cookbooks/unicorn
	url = https://github.com/opscode-cookbooks/unicorn.git
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = https://github.com/opscode-cookbooks/database.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql
[submodule "cookbooks/iptables"]
	path = cookbooks/iptables
	url = https://github.com/opscode-cookbooks/iptables.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/monit"]
	path = cookbooks/monit
	url = git://github.com/apsoto/monit.git
[submodule "cookbooks/munin"]
	path = cookbooks/munin
	url = https://github.com/opscode-cookbooks/munin.git
[submodule "cookbooks/postfix"]
	path = cookbooks/postfix
	url = https://github.com/opscode-cookbooks/postfix.git
[submodule "cookbooks/kvm"]
	path = cookbooks/kvm
	url = https://github.com/Youscribe/kvm-cookbook.git
[submodule "cookbooks/ntp"]
	path = cookbooks/ntp
	url = https://github.com/opscode-cookbooks/ntp.git
[submodule "cookbooks/sysctl"]
	path = cookbooks/sysctl
	url = https://github.com/Fewbytes/sysctl-cookbook.git
[submodule "cookbooks/modules"]
	path = cookbooks/modules
	url = https://github.com/Youscribe/modules-cookbook.git
[submodule "cookbooks/sysfs"]
	path = cookbooks/sysfs
	url = https://github.com/Youscribe/sysfs-cookbook.git
[submodule "cookbooks/cpu"]
	path = cookbooks/cpu
	url = https://github.com/Youscribe/cpu-cookbook.git
[submodule "cookbooks/guacamole"]
	path = cookbooks/guacamole
	url = https://github.com/gcymbalski/chef-guacamole.git
[submodule "cookbooks/tomcat"]
	path = cookbooks/tomcat
	url = https://github.com/bryanwb/chef-tomcat.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/logrotate"]
	path = cookbooks/logrotate
	url = https://github.com/opscode-cookbooks/logrotate.git
[submodule "cookbooks/ark"]
	path = cookbooks/ark
	url = https://github.com/opscode-cookbooks/ark.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "cookbook/build-essential"]
	path = cookbook/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
