<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Welcome to Officina</title>
  </head>
  <body>
    <h1>Officina Server:</h1>
    <p><%= node[:fqdn] %></p>
    <p><strong>Uptime:</strong><%= node[:uptime] %></p>
    <p>Last run: <%= DateTime.now %></p>
    <ul>
      <% for recipe in node[:recipes] %>
        <li><%= recipe %></li>
      <% end %>
    </ul>
  </body>
</html>
